@charset "UTF-8";

/*todas demais features*/

@media print {
    main h1{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
        
    }
    img#prin{
        display: block;
    }
    img#cel{
        display:none
    }
    
}

@media screen and (min-width:768px) and (max-width: 992px) {
    body{
        background-image: url('../imagens/back-tablet.jpg');
        
    }
    img#tab{
        display: block;
    }
    img#cel{
        display:none
    }
    
}
@media screen and (min-width:992px) and (max-width:1200px) {
   body{
    background-image: url('../imagens/back-pc.jpg');
    
   }
   img#pc{
    display: block;
}
img#cel{
    display: none;
}
main{
    width: 600px;
}
    
}
@media screen and (min-width:1200px) {
    body{
        background-image: url('../imagens/back-tv.jpg');
    }
    img#tv{
        display: block;
    }
    img#cel{
        display: none;
    }

    main{
        width: 900px;
    }
    
}